header{
    background-color: blue;
    color: white;
}
.container{
    background-color: lightgrey;
    color: black;
}
div p{
    color:red;
}
.highlight{
    color: green;
}
.main-content{
    background-color: yellow;
}
.align-para{
    text-align: center;

}
.anchor-element{
    text-decoration-line: none;
}
.heading-underline{
    text-decoration-line: underline;
}
.bold-text{
    font-weight: bold;
}